#!/usr/bin/env jip
#
# {{desc}}
#
# Usage:
#   {{cmd}} <input> [ -p ] [-o <output>...] {% for opt in opts if opt.required %} [--{{opt.long}} <{{opt.name}}>] {% endfor %} {% for opt in opts if not opt.required %} --{{opt.long}} <{{opt.name}}> {% endfor %}
#
#
#
# Options:
{% for opt in opts -%} 
#   -{{opt.short}}, --{{opt.long}}=<{{opt.name}}>  {{opt.description}}
{% endfor -%}
#   -p, --paired=<reverse>     Input is interleaved paired
#   -o, --output=<output>      Output files [default: stdout]


#%begin command bash

if [ "${paired}" ]
then
    echo "{{paired_cmd}}"
    {{paired_cmd}} 
else
    echo "{{unpaired_cmd}}"
    {{unpaired_cmd}} 
fi

#%end
